<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue3-app</title>

  <!-- Vue 3 runtime -->
  <!-- <script src="https://unpkg.com/vue@3.2.0/dist/vue.runtime.global.js"></script> -->

  <!-- 引入打包后的组件 -->
  <!-- <script type="module" src="../dist/sc-cross-frame-comp.mjs"></script> -->
  <script type="module" src="./lib/sc-cross-frame-comp0.js"></script>
  <script type="module" src="./lib/sc-cross-frame-comp2.esm.js"></script>
</head>
<body>

<div id="app"></div>
<script type="module" src="../src/main.ts"></script>
</body>
</html>
